
#mainDiv {
    /* margin: auto; */
    background-size: cover;
    border: 5px solid rgb(185, 97, 97);
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: azure;
    background-image: url("http://www.simpleimageresizer.com/_uploads/photos/69526668/background1_99.jpg");
    background-position: center;
    /* width: 90vw; */
}
    /*height: 1300px; } */
 
h1 {
    text-align: center;
    margin-bottom: 300px;
    color: black;
    text-shadow:1px 1px 2px black, 0 0 20px black, 0 0 5px azure;
    
} 

 h2 {
    text-align: center;
    color:white; 
     text-shadow: 2px 2px 4px gray;
     text-shadow: 1px 1px 2px black, 0 0 5px blue, 0 0 1px darkblue;
}

img { 
     height: 300px;
     width: 300px;
    border-radius: 10px;
    border: 4px solid #000;
    padding: 2px;

} 

 p {
    color: white;
    margin-top: 15px;
    margin-left: 5px;
    height: auto;
    width: 300px;
    border: 1px dashed silver;
    border-radius: 10px;
    background-color: black;
    opacity: 0.7;
}

#kirkDiv {
    margin-left: 100px;
    position: relative;
    left: 75px; 
} 
#kirkDiv h2 {
    position: relative;
    left: 50px;
}


#edDiv {
     margin-left: 150px; 
    position: relative;
    left: 130px; 
}

#edDiv h2 {
    position: relative;
    left: 70px;
}


 #jordanDiv{
    margin-left: 270px;
}
#jordanDiv h2 {
    position: relative;
    right: 20px;
} 

#soniDiv {
    margin-left: 60px;  
}
#soniDiv h2 {
    position: relative;
    right: 130px;
} 
#benDiv {
    margin-left: 50px;
} 

#benDiv h2 {
    position: relative;
    left: 30px;
} 